@model IEnumerable<ReportesUdec.Models.Usuario>

@{
    ViewBag.Title = "AdministradorVerPersonal";
}
<style>
    table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
</style>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("#")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contraseña)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayName("Ocupación")
        </th>
        <th>
            @Html.DisplayName("Opciones")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contraseña)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rol_Id)
        </td>
        <td>
            <a class="btn btn-primary" href="~/Home/EditarUsuariosAdmin/@item.Usuario_Id">Editar</a>
            @*<a class="btn btn-danger" href="~/Home/Eliminar/@item.Usuario_Id">Eliminar</a>*@
           
        @Html.ActionLink("Delete", "Eliminar", new {  id=item.Usuario_Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
